<section class="timeline-section">
	<div class="timeline-items" *ngFor="let item of data; let i = index">
		<div class="timeline-item" [ngClass]="{ 'timeline-item-left': isEven(i), 'timeline-item-right': !isEven(i) }">
			<div class="timeline-dot"></div>
			<div class="timeline-date" 
				[ngClass]="{ 'timeline-date-right': isEven(i), 'timeline-date-left': !isEven(i) }">
				{{item.date_year}} 
				<span class="event-month">{{ item.events[0]?.month }}</span>
			</div>
			<div>
				<!-- <a [routerLink]="['/event-profile', item.id]"> -->
					<img class="frame-img" src="{{item.img}}" alt="">
				  <!-- </a> -->
			</div>
			<div class="event-list">
				<ul class="event-list-items">
					<li class="item">
						<h2 class="event-title">{{ item.year_title }}</h2>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
