<section class="navbar">
    <div class="navbar_content">
        <div class="left">
            <a routerLink="/">
                <img class="logo" routerLink="/home" src="../../../../assets/logo.svg" alt="">
            </a>
        </div>
        <div class="right">
            <ul class="nav_items">
                <li> <button class="nav_btn" routerLink="/liveUpdates"> What’s happening now? </button></li>
                <li> <button class="nav_btn" id="res_btn" routerLink="/resources"> Resources</button></li>
            </ul>
        </div>
    </div>
</section>