<section class="footer">
    <div class="logo">
        <img src="../../../../assets/logo.svg" alt="">
    </div>
    <div class="footer_content">
        <h5>TruePalestinianStory @ 2023 - All rights reserved</h5>
    </div>
    <div class="media">
        <ul class="icons-list">
       
           <fa-icon [icon]="LinkIcon"></fa-icon>
           <fa-icon [icon]="twitIcon"></fa-icon>
           <fa-icon [icon]="youIcon"></fa-icon>
           <fa-icon [icon]="instIcon"></fa-icon>             
        </ul>
    </div>
</section>